
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b4332;
    padding: 15px 30px;
    position: sticky;
    top: 0;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffd166;
}

.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}


.hero {
    background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.hero-overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: white;
    text-align: center;
    animation: fadeIn 2s;
}

.hero-content h1 {
    font-size: 60px;
}

.hero-content p {
    font-size: 20px;
    margin: 20px 0;
}

.btn {
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    background: #ffd166;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #ffb703;
}

/* Products */
.products {
    padding: 60px 20px;
    text-align: center;
}

.products h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.product-card {
    width: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
}

.product-card h3 {
    margin: 15px;
}

.product-card p {
    margin: 0 15px 20px;
}


footer {
    background: #1b4332;
    color: white;
    padding: 30px;
    text-align: center;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


@media (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background: #1b4332;
        position: absolute;
        right: 0;
        top: 60px;
        width: 200px;
    }

    .nav-links li {
        margin: 15px 0;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .hero-content h1 {
        font-size: 40px;
    }

}